<h1> Flight</h1>

<ul>
  <% @flights.each do |flight| %>
    <li>
      = link_to flight.arrival_datetime
   
  <% end %>
<<<<<<< HEAD
</ul>
=======

</table>
<%= form_tag '/flights', :remote => true do |f| %>
<h4>Please Select Departure Airport.</h4>
<select id ="departure_airport" class="input-large">
<%= options_from_collection_for_select(Flight.all, :id, :departure_airport) %></select>

<%= submit_tag 'Submit' %>
<% end %>
>>>>>>> master
