

<%= form_tag flights_filter_path, :method => "get" do %>
<h4>Please Select Departure Airport.</h4>
<select id="departure_airport", name="departure_airport_id", class="input-large">
<%= options_from_collection_for_select(Airport.all, :id, :airport_code) %></select>
<h4>Please Select Arrival Airport.</h4>
<select id="arrival_airport", name="arrival_airport_id", class="input-large">
<%= options_from_collection_for_select(Airport.all, :id, :airport_code) %></select>

<%= submit_tag 'Submit' %>
<% end %>
